/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

img,
video {
  height: auto;
  width: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > a {
  background-color: gray;
  color: white;
  text-decoration: none;
  width: 80px;
  height: 25px;
  text-align: center;
}

#rainbow-stripe {
  transform: rotate(90deg);
  position: absolute;
  top: -250px;
  max-height: 100%;
}

h1, p {
  color: white;
}

.red-background {
  background-color: #ff6663;
}
.orange-background {
  background-color: #feb144;
}
.yellow-background {
  background-color: #f9e076;
}
.green-background {
  background-color: #9ee09e;
}
.blue-background {
  background-color: #9ec1cf;
}
.purple-background {
  background-color: #cc99c9;
}

.black {
  color: black;
}
